@font-face {
  font-family: 'Domaine Medium';

  src: url('./fonts/DomaineText-Medium.otf');
  
  // font-weight: 200;
  // font-style:   normal;
  font-stretch: normal;
}	

@font-face {
	font-family: 'Domaine Regular';
	src: url('./fonts/DomaineText-Regular.otf');
	
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Lota';
	src: url('./fonts/Lota-Grotesque-Alt1-SemiBold.otf');
	
	// font-style: normal;
	font-stretch: normal;
}

.h1 {
	font-family: $lota;
	font-size: 40px;
	// line-height: 1.57;
	color: $white;
	@include breakpoint(mobileLarge) {
		font-size: 80px;
		line-height: 1.13;	
	}
}
.h2 {
	font-family: $domaine-medium;
	color: $dark-text;
	font-weight: normal;
	font-size: 34px;
	@include breakpoint(mobileLarge) {
		
		font-size: 50px;
	}
	&--sans {
		font-family: $lota;
		font-weight: 600;
		color: $white;
	}
}
.h3 {
	font-family: $lota;
	font-size: 34px;
	font-weight: normal;
	@include breakpoint(mobileLarge) {
		font-size: 50px;
	}
}
.h4 {
	font-family: $lota;
	font-size: 22px;
	line-height: 1.45;
	letter-spacing: 0.2px;
	color: $dark-text;
	font-weight: 600;
}
.h5 {
	font-family: $domaine-medium;
	font-size: 20px;
	letter-spacing: 0.2px;
	&--white {
		color: $white;
	}
}

.label {
	font-family: $primary-font;
	line-height: 1.83;
	letter-spacing: 0.2px;
	color: $white;
	font-weight: normal;
	text-transform: capitalize;
	display: block;

}

.style__guide {
	.h1, .h2, .h3, .h4 {
		color: $white;
	}
}


.primary {
	font-family: $primary-font;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2px;
	line-height: 1.63;
	font-weight: normal;
	color: $dark-text;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	&--reg {
		font-family: $secondary-font;
	}
	
}
.secondary {
	font-family: $secondary-font;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	color: $light;
	-webkit-font-smoothing: antialiased;
	&--bold {
		// font-family: $semibold-font;
	}
}
.tertiary {
	font-family: $primary-font;
	font-size: 12px;
	line-height: 20px;
	color: $medium-light;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
.site__copy {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 20px;
	line-height: 28px;
	color: $white;
	-webkit-font-smoothing: antialiased;
	@include breakpoint(mobileXsmall) {
		font-size: 16px;
		line-height: 22px;
	}
}
