.a-btn {
	font-family: $domaine-medium;
	font-size: 18px;
	font-weight: 500;
	color: $white;
	letter-spacing: 0.2px;
	width: 230px;
	height: 55px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: transparent;
	cursor: pointer;
	text-transform: capitalize;
	text-align: left;
	padding-left: 30px;
	&:hover { 
		& + .icon-arrow {
			opacity: 1;
			animation: arrowMoveOut 1s 1;
			@include transition(opacity $slow, transform $slow ease-in-out);
		}
	}
}
.button__wrapper {
	position: relative;
	display: inline-block;
	.icon-arrow {
		position: absolute;
		right: 30px;
		top: calc(50%);
		opacity: 0.7;
		transform: translate3d(0,-50%,0);
		@include transition(opacity $slow ease-in-out)
	}
}

@keyframes arrowMoveOut {
	0% {
		transform: translate3d(0%,-50%,0);
	}
	100% {
		transform: translate3d(2%,-%50,0);
	}
}