* {
  box-sizing: border-box;

}
html, body {
	-webkit-overflow-scrolling: touch;
	margin: 0;
}
body {
	margin: 0;
	background: $dark;
	position: relative;
	z-index: 0;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
	background:url('./images/bg.jpg') top right no-repeat; 
	background-attachment: fixed; 
	background-size: cover;
	.footer__wrapper {
		opacity: 1;
	}
	&.overlay-open {
		overflow: hidden;
		position: fixed;
		// top: 0;
		// left: 0;
		width: 100%;
		height: 100%;
		.nav {
			// background: rgba(30, 30, 30, 0.2);
			opacity: 0.2;
			filter: blur(1px);
			
		}
	}
	&.mm-active {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.nav {
			background: rgba(30, 30, 30, 0.2);
			.logo {
				filter: blur(10px);
				.icon {
					// opacity: 0;
					
				}
			}
		}
		.footer__wrapper {
			opacity: 0;
		}
	}
	&.scrolling {
		.landing__section {
			.logo {
				top: 150px;
				transition: top $slow;
				@include breakpoint(mobile) {
					top: 100px;
				}
			}
		}
		
	}
}
img {
	max-width: 100%;
	height: auto;
}


#main {
	position: relative;
}
.body-section {
	position: relative;
	display: block;
	z-index: 1;
	background: transparent;
	overflow: hidden;
	top: - $desktop-header-height;
	margin-bottom: - $desktop-header-height;
	&.mm-active {
		background: rgba(30,30,30,0.20);
		overflow: hidden;
		filter: blur(10px);
	}
	&.overlay-open {
		background: $black;
		overflow: hidden;
		filter: blur(10px);
		z-index: -1;
		margin: -40px;
	}
	.landing__section {
		height: 100vh;
		position: relative;

		.logo {
			position: fixed;
			top: 50px;
			left: 0;
			right: 0;
			width: auto;
			z-index: $z1;
			text-align: center;
			transition: top $slow;
			@include breakpoint(mobileXsmall) {
				max-width: 65%;
				margin: 0 auto;
			}
			img {
				width: auto;
				max-width: 100%;
				max-height: 26px;
			}
		}
		.landing__img {
			position: relative;
			height: auto;
			
			&.blur {
				opacity: 1;
			}
			.blurImg {
				position: fixed;
				width: 100vw;
				height: 100vh;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				transition: all $slow; 
				z-index: -1;

				&.blur {
					opacity: 0;
					
				}

			}
			img {
				position: fixed;
				height: 100%;
				width: 100%;
				object-fit: cover;
				top: 0;
				left: 0;
				transition: all $slow; 
				@include breakpoint(mobile) {
					object-fit: contain;
					// transform: scale(1.4);
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: $konnect-green;
					position: fixed;
					top: 0;
					left: 0;
					z-index: $z2;
				}
			}
		}
	}
	.branding__info {
		position: relative;
		text-align: center;
		top: calc(100vh - (60px + 44px));
		@include breakpoint(tablet) {
			top: calc(100vh - 60px);
		}
		.scroll__menu {
			.icon {
				animation: arrowBounce 1.5s 3;		
				
			}
		}
	}
	.info__section {
		position: relative;
		height: auto;
		display: block;
		height: 100vh;
		.wrap {
			text-align: center;
			// padding: 100px 0;
			position: relative;
			top: 50%;
			transform: translate3d(0,-50%,0);
			@include breakpoint(mobile) {
				
			}
			.h1 {
				margin-bottom: 40px;
				@include breakpoint(mobile) {
					max-width: 73%;
					margin: 40px auto 40px;

				}
			}
			.site__copy {
				margin: 0 auto;
				
				@include breakpoint(tablet) {
					max-width: 500px;	
				}
				@include breakpoint(mobile) {
					max-width: 480px;
				}
				@include breakpoint(mobileXsmall) {
					max-width: 300px;
				}
			}
		}
		.coming-soon__block {
			text-transform: uppercase;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.site__copy {
				font-size: 14px;	
				letter-spacing: 1.4px;
				display: inline-block;
				font-family: 'Roboto';
				margin-bottom: 40px;
			}
			.primary__link {
				overflow: hidden;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

// Style Guide 
.site__wrapper {
	background: $dark;
	.style__guide {
		background: $dark;
	}
	
}

.dark-bg {
	background: $dark;
}

.revealer {
	opacity: 0;
	@include transform(translate3d(0,25px,0));
	@include transition(transform $med ease-in-out);
	&.revealed {
		opacity: 1;
		@include transform(translate3d(0,0px,0));
		@include transition(transform $med ease-in-out, opacity $med);
	}
}
