.hero__block {
	min-height: 100%;
	height: 100vh;
	overflow: hidden;
	max-height: 100%;
	z-index: $z2;
	&--short {
		min-height: 520px;
		height: 100%;
		.block-content {
			min-height: 520px;
			height: 100%;
			.contain {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				text-align: center;

				@include breakpoint(tablet) {
					left: initial;
					right: initial;
					text-align: left;
					left: 12.5%;
				}
			}
		}
	}
	&.about__section {
		overflow: auto;
		height: auto;
		margin-top: 100px;
		.contain {
			top: initial;
			transform: none;
			padding: 0 48px;
			@include breakpoint(tabletLarge) {
				padding: 0 80px;
			}
			.inner {
				background: $dark-blue;
				max-width: 100%;
				display: block !important;
				@include breakpoint(tabletLarge) {
					display: flex !important;
					align-items: flex-end;

				}
				.img__wrapper {
					max-width: none;
					@include breakpoint(tabletLarge) {
						max-width: 600px;

					}
					img {
						display: block;
					}

				}
				.text__wrapper {
					background: $dark-blue;
					padding: 50px 0;
					max-width: none;
					text-align: left;
					@include breakpoint(tabletLarge) {
						padding: 100px 0;
						text-align: left;
						max-width: 47%;

					}
					.heading {
						padding: 0 50px;
						@include breakpoint(tabletLarge) {
							padding: 0;
							transform: translate3d(-25%,0,0);
						}
					}
					.h2 {
						color: $white;
					}
					.h5 {
						margin: 0;
					}
					.primary {
						color: $white;
						margin: 0;
						padding: 0 50px;
						font-family: $primary-font;
						@include breakpoint(tabletLarge) {
							padding: 0 60px;
						}
					}
				}
			}
		}
	} 
	&.how-it-works {
			max-height: none;
			min-height: 100vh;
			height: auto;
		@include breakpoint(mobileLarge) {
			min-height: 100vh;
			max-height: 100%;
			height: 100vh;

		}
		.contain {
			top: initial;
			transform: none;
			padding: 60px 0;
			@include breakpoint(mobileLarge) {
				padding: 0;
				top: calc(50% + 58px);
				transform: translate3d(0,-50%,0);

			}
		}
	}
	&.main__form {
		overflow: visible;
		z-index: 1;
		.contain {
			.form__wrapper {
				padding: 60px 48px;
				@include breakpoint(tabletLarge) {
					padding: 0;
				}
				
			}
		}
	}
	&--relative {
		position: relative;
		.inner {
			max-width: 960px;
		}
	}
	.block-content {
		position: relative;
		height: 100%;

		// .background {
		// 	&:after {
		//     content: '';
		//     display: block;
		//     height: 0;
		//     width: 100%;
		//     padding-bottom: 125%;
		// 	}
		// 	img {
		// 		object-fit: cover;
		// 	}
		// }
	}
	.background {
    z-index: $z1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .mobile-bg {
			z-index: $z2;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			@include breakpoint(mobileLarge) {
				display: none;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.0);
			}
		}
	}
	.contain {
		position: relative;
		display: block;
		z-index: $z1;
		text-align: center;
		top: calc(50% + 58px);
		@include transform(translate3d(0,-50%,0));
		@include breakpoint(tablet) {
			// top: calc(50% + 75px);
			top: 50%;

		}
		.inner {
			max-width: 860px;
			margin: 0 auto;
			.heading-wrap {
				max-width: 288px;
				margin: 0 auto;

				@include breakpoint(mobileLarge) {
					max-width: none;
				}
			}
			.primary {
				font-family: $secondary-font;
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}
		.info__wrapper {
			display: block;
			@include breakpoint(mobileLarge) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

			}
			@include breakpoint(tabletLarge) {
				margin: 0 -60px;

			}
			.info__stat {
				display: block;
				text-align: left;
				padding: 0 50px 0px 95px;
				@include breakpoint(mobileLarge) {
					text-align: center;
					flex: 1 0 33.333%;
					max-width: 33.333%;
					padding: 0 20px;
				}
				@include breakpoint(tabletLarge) {
					padding: 0 30px;
				}
			}
		}
	}
	.more__details {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: $z2;
		height: 80px;
		.text__link {
			color: $light;
			margin: 0;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 50px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			background: $light;
		}
	}
}

